IP=0.0.0.0
USER=usuario
PASSWORD=123456
PORT=554
CHANNEL_DET=201
CHANNEL_HQ=101
SAVE_ROOT=./data/events
REPORTS_ROOT=./data/reports
MODEL_NAME=./data/runs/detect/train3/weights/best.pt
MIN_CONF=0.25
CLASSES_INTERESSE=
FPS_TARGET=15
PRE_EVENT_SECONDS=3
POST_EVENT_SECONDS=4
EVENT_MIN_DURATION=1.5
MAX_EVENT_DURATION=9
SNAPSHOT_HQ=true
DRAW=true
SHOW_WINDOW=true
HUD=false
OUT_SIZE=640,360
OUT_FPS=8
FRAME_STRIDE=2
JPEG_QUALITY=60
MONITOR_START=05:30
MONITOR_END=18:30
ROBOFLOW_API_KEY=
ROBOFLOW_WORKSPACE=
ROBOFLOW_PROJECT=
ROBOFLOW_VERSION=1
